<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--
        <RollingRandomAccessFile 
            name="LogToRollingRandomAccessFile" 
            fileName="logs/TSE-app.log" 
            filePattern="">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
-->
    </Appenders>

    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.abndev" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
<!--            <AppenderRef ref="LogToRollingRandomAccessFile"/>-->
        </Logger>

        <Root level="error">
<!--            <AppenderRef ref="LogToRollingRandomAccessFile"/>-->
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
