# this is lombok.config file, and put it into the root of the project
lombok.LOG.fieldName=LOG
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.addLombokGeneratedAnnotation = true
#
#lombok.log.custom.declaration = com.foo.your.Logger com.foo.your.LoggerFactory.createYourLog(TYPE)
